.Keyword {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 35px;
}

.Meaning {
  font-family: "Courier New", Courier, monospace;
}

.PartOfSpeech {
  font-weight: 700;
  font-size: 25px;
  font-style: italic;
}

.Examples {
  margin-left: 50px;
}
